@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This privacy policy represents the contact form on the home page. The information entered within the form will never be used for anything other than the purposes of this demonstration.</p>
<p>The information is not actually processed but this privacy policy can give an idea of the requirements needed to implement contact forms in a corporate setting.</p>
